* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* imagem de fundo (papel de fundo do site)*/
.fundo {
  background-color: #011f65; /* é esse aqui que é colocado o papel de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
/* cabeçario */
header {
  background: linear-gradient(to bottom, #011f65 90%, rgba(1, 36, 100, 0) 100%);
  height: 100px;
}
/* div do cabeçario */
.container_Header {
  display: flex;
  justify-content: space-between;
}
/* div que contem logo e a imagem */
.container_logo_nome {
  width: 30%;
  height: 98px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
/* nome da empresa do cabeçario e do rodapé */
.nome_empresa {
  font-family: "Zen Dots", cursive;

  color: white;
  font-size: 25px;
  transition: 0.5s linear;
}
/* efeito ao passar o mouse por cima do nome da empresa */
.nome_empresa:hover {
  transition: 0.5 linear;
  font-size: 27px;
  border-bottom: 1px solid white;
}
/* logo da empresa do cabeçario e do rodapé */
.logo {
  align-self: center;
  width: 150px;
  height: 70px;
  border-radius: 27px;
  transition: 0.5s linear;
}
/* efeito ao passar o mouse por cima do logo da empresa */
.logo:hover {
  transition: 0.5s linear;
  width: 180px;
  height: 75px;
}

/* div da barra de navegação */
.container_navbar {
  display: flex;
  flex: 1;
  justify-content: end;
}

.container_navbar ul {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container_navbar li {
  list-style: none;
  margin-left: 3%;
  margin-right: 3%;
}
/* botões da barra de navegação */
.container_navbar a {
  font-family: "Noto Sans Hebrew", sans-serif;
  transition: 0.5s linear;
  text-decoration: none;
  color: white;
  padding: 8px 30px;
  text-transform: uppercase;
  background-color: #05097d;
}
.container_navbar a:hover {
  transition: 0.5s linear;
  padding: 10px 40px;
  border-bottom: 1px solid white;
}

.container_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  color: white;
  width: 646px;
  height: 750px;
  border-radius: 10px;
  margin-right: 50px;
  background: linear-gradient(
    180deg,
    rgba(1, 31, 101, 0.78) 5.21%,
    rgba(1, 31, 101, 0.53) 44.79%,
    rgba(1, 31, 101, 0) 97.92%
  );
}
.container_box h1 {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 28px;
  margin-top: 20px;
  margin: 20px 50px;
  text-transform: uppercase;
  text-decoration: underline;
}
.container_box p {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 15px;
  margin-top: 5%;
  margin: 15px 40px;
  text-align: justify;
}

.container_logo_empresa {
  width: 60%;
  height: 190px;
  /* display: flex;  */
  /* justify-content:center; */
}
.container {
  display: flex;
  justify-content: space-between;
}

.imagem {
  width: 700px;
  height: 400px;
  margin-top: 30px;
  margin-left: 170px;
}

.container_imagem {
  border: 1px solid green;
}

/* =========== Main ========= */
.container_solucao {
  display: flex;
}
.solucao {
  position: relative;
  width: 34.5%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding: 60px;
}
.icone_solucao {
  margin-bottom: 20px;
  height: 60px;
  width: 60px;
}
.fonte_solucao {
  font-family: "Noto Sans Hebrew", sans-serif;
}
.solucao h1 {
  color: white;
  text-transform: uppercase;
  text-decoration: underline;

  font-size: 40px;
}
.solucao h1 a {
  text-decoration: none;
  color: white;
}
.solucao p {
  margin: 40px;
  color: white;
  text-align: justify;
  font-size: 24px;
}
/*============== rodapé ===========*/
footer {
  background: linear-gradient(to top, #011f65 100%, rgba(1, 36, 100, 0.95) 100%);
  height: 98px;
  position: relative;
  width: 100%;
}
.container_logo_nome_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}
.slogan {
  /* border: 1px solid red; */
  color: white;
  line-height: 35px;
}
.slogan a {
  text-decoration: none;
  color: white;
}
.slogan p {
  margin-top: 30px;
  margin-left: 45px;
  font-family: "Zen Dots", cursive;
  text-decoration: underline;
  font-size: 1.1em;
  text-align: center;
}

.redes_social {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin-right: 1%;
  margin-top: 10px;
}
.icone {
  transition: 0.5s ease-in-out;
  height: 40px;
  width: 40px;
  flex-wrap: nowrap;
}
.icone:hover {
  transform: scale(1.4);
}
